@import 'Var';

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  height: 75vh;
  max-height: 75vh;
  @media screen and (max-width: $medium) {
    height: auto;
  }
  &__header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    & button {
      font-size: 16px;
      font-family: $fontFamily;
      background: transparent;
      color: $graywhite;
      padding: 4px 8px;
      margin: 0;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        border-radius: 3px;
        background: $green;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        color: $green;
        transition: all 0.3s ease-in-out;
        &::before {
          width: 100%;
          height: 3px;
        }
      }
      &.active {
        color: $white;
        &::before {
          position: absolute;
          content: '';
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 3px;
          border-radius: 3px;
          background: $green;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 16px;
    overflow-y: scroll;
    &-subtitle {
      color: $graywhite;
      font-size: 14px;
    }
  }
}