$primary:    #a2fa92;
$secondary: #2b9cdc;

.awards__boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.awards__checkbox{
  display: flex;
  flex-direction: row;
}
input[type=radio]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
input[type=radio] + label:before{
  height:30px;
  width:30px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  border: none;
  background: white;
  box-shadow: 0 0 1px $secondary;
  transform: skewX(-25deg);
}
input[type=radio]:checked + label:before{
  background: $primary;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{
  border-radius:0%
}
.span{
  width: 200px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $secondary;
    box-shadow: 0 0 1px $secondary;
    transform: skewX(-25deg);
    z-index: -1;
   
  }
}
span{
  padding-right: 5px;
}
