@import 'Var';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bgDark;
  color: $white;
  font-family: $fontFamily;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
a{
  text-decoration: none;
}
@media screen and (max-width: 768px){
  .App{
    display: flex;
    flex-direction: column;
  }
}