@import 'Var';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: $fontFamily;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: $bgDark;
  color: $white;
  overflow: hidden;
  &.dark {
    background: $black;
  }
}
a{
  text-decoration: none;
}
