@import 'Var';
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: $bgLight;
  margin: 16px 16px 32px 8px;
  width: 100%;
  border-radius: 32px;
  overflow: hidden;
  color: $black;
  //overflow-y: scroll;
  // @media screen and (max-width: 768px){
  //   display: flex;
  //   flex-direction: column;
  // }
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //max-width: 768px;
    width: 100%;
    background: rgba(0,0,0,.1);
    height: 100%;
    padding: 8px 8px 8px 32px;
    overflow: scroll;
    @include hideScrollbar;
  }
  &__aside {
    flex-grow: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    padding: 0 16px;
    margin: 50px auto;
    max-height: 100%;
    max-width: 300px;
    width: 300px;
    color: $white;
    &-box {
      width: 100%;
      min-height: 100%;
      background: $bgDark;
      border-radius: 16px;
    }
  }
}
