@import 'Var';
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  color: $black;
  &.dark {
    color: $white;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid $green;
    &-name {
      font-size: 24px;
      @media screen and (max-width: $tablet) {
        font-size: 20px;
      }
    }
    &-link {
      font-size: 16px;
      color: $grayblack;
      &.dark {
        color: $graywhite;
      }
      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.subsection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 4px;
  &__news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
  }
  &__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
  }
  &__result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__square {
    width: 40px;
    height: 20px;
    border-radius: 0px;
    position: relative;
    outline: none; 
    border: none; 
    background: transparent;
    &::before, &::after { 
      content: ""; 
      position: absolute; 
      background: $green; 
      height: 100%; 
      width: 50%; 
      transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); 
    } &::before { 
      top: -20%; 
      left: 0rem; 
    } &::after { 
      background: $blue;
      top: 20%; 
      left: 50%; 
    } &:hover::before { 
      top: 0; 
      left: 50%; 
    } &:hover::after { 
      top: 0; 
      left: 0; 
    }
  }
  &__title {
    padding: 0 8px;
    font-size: 16px;
  }
}

