@import 'Var';
.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 768px;
}
.table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0 5px; 
  color: $black;
  &.dark {
    color: $white;
  }
  & thead {
    background: transparent;
    color: $grayblack;
    &.dark {
      color: $graywhite;
    }
    & tr th {
      font-size: 14px;
    }
    & .th__mobileHide {
      @media screen and (max-width: $phone) {
        display: none;
      }
    }
  }
  & tbody {
    & tr {
      width: 100%;
      height: 40px;
      text-align: center;
      background: transparent;
      border: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
      }
      & td {
        background: $white;
        height: 100%;
        &.dark {
          background: $black;
        }
        &:first-child { border-radius: 16px 0 0 0; width: 40px; }  
        &:last-child { 
          border-radius: 0 0 16px 0;
          width: 40px; 
        }
      }
    }
  }
}

.td{  
  &__pos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 16px 0 16px 0;
    background: $green;
    &.dark {
      background: $darkgreen;
    }
    &.gold {
      background: gold;
    }
    &.silver {
      background: silver;
    }
    &.brown {
      background: brown;
    }
    &.purple {
      background: purple;
    }
    &.red {
      background: red;
    }
  }
  &__club {
    color: $black;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &.dark {
      color: $white;
    }
    &-image {
      max-width: 25px;
      max-height: 25px;
      margin-right: 4px;
    }
  }
  &__win {
    color: $darkgreen;
  }
  &__lose {
    color: $red;
  }
  &__pts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 16px 0 16px 0;
    background: $blue;
    color: $white;
    &.dark {
      background: $darkblue;
    }
  }
  &__mobileHide {
    @media screen and (max-width: $phone) {
      display: none;
    }
  }
}
