@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

//colors
$bgDark: #101126;
$bgLight: #DDEBF2;
$green: #AFFF89;
$darkgreen: #2BDC5D;
$blue: #2B9CDC;
$red: #FF5757;
$yellow: #FBFF23;
$white: #ffffff;
$black: #000000;
$graywhite: #dddddd;
$grayblack: #555555;

$fontFamily: 'Righteous', cursive;

@mixin hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}